*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1{
	color: gray;
	font-size: 144px;
	font-weight: 300;
	margin: auto;
	width: 50%;
	text-align: center;
	padding-top: 100px;
}

/*By default, it repeats horizontally and vertically. This makes it only repeat on the y axis, vertically*/
body{
	background-image: url(./img/bean.jpg), url(./img/lake-michigan.jpg);
	background-repeat: repeat-y, repeat-y;
	background-size: cover;
	background-attachment: fixed;
}