*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0;
}

div#main-container{
    padding-right: 5em;
}

/*grabbed the following a code from stackoverflow*/
.option:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: transparent;
    color:            white;
}
.option:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: transparent;
    color:            white;
}
.option:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
    font-weight:      bold;
    background-color: transparent;
    color:            white;
}
.option:active  {
    /* Applies to activated links */
    text-decoration:  none;
    font-weight:      bold;
    background-color: transparent;
    color: white;
} 

h1{
    color: white;
    font-size: 10vw;
    letter-spacing: -7px;
    font-weight: 800;
    margin: auto;
    width: 30%;
    text-align: left;
    padding-top: .5em;
    position: fixed;
    justify-content: center;
    line-height: 90%;
}


body{
    background-image: url(./img/sears-tower.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    
    position: fixed;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 20px;
}

.options{
    color: white;
    font-size: 5em;
    font-weight: 300;
    margin: auto;
    padding-top: .5em;
    text-align: right;
    //padding-right: .5em;
    float: right;
    width: 90%;
    list-style-type: none;
}

.option{
    transition: font-size .25s;
}

.option:hover{
    font-size: 1.5em;
}

.icon {
    position: relative;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100px;
    text-align: center;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    height:75px;
    cursor:pointer;
    overflow:hidden;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}


.icon:active {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
}


.icon#twitter-small{
    -webkit-box-shadow: 0 6px 0 #2695BC;
    -moz-box-shadow: 0 6px 0 #2695BC;
    box-shadow: 0 6px 0 #2695BC;
}
.icon#twitter-small{background:#2CA9E1 url("./img/twitter.png") no-repeat center center;}
.icon#twitter-small:active{ -webkit-box-shadow: 0 2px 0 #2695BC;
    -moz-box-shadow: 0 2px 0 #2695BC;
    box-shadow: 0 2px 0 #2695BC;
}



.icon#facebook-small{
    -webkit-box-shadow: 0 6px 0 #293F63;
    -moz-box-shadow: 0 6px 0 #293F63;
    box-shadow: 0 6px 0 #293F63;
}
.icon#facebook-small{background:#3B5997 url("./img/facebook.png") no-repeat center center;}
.icon#facebook-small:active{ -webkit-box-shadow: 0 2px 0 #293F63;
    -moz-box-shadow: 0 2px 0 #293F63;
    box-shadow: 0 2px 0 #293F63;
}



.icon#linkedin-small{
    -webkit-box-shadow: 0 6px 0 #005377;
    -moz-box-shadow: 0 6px 0 #005377;
    box-shadow: 0 6px 0 #005377;
}
.icon#linkedin-small{background:#0073B2 url("./img/linkedin.png") no-repeat center center;}
.icon#linkedin-small:active{ -webkit-box-shadow: 0 2px 0 #005377;
    -moz-box-shadow: 0 2px 0 #005377;
    box-shadow: 0 2px 0 #005377;
}

div#menu-outer {
    height: 84px;
    justify-content: right;
}

.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
    float: right;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    justify-content: right;
    float: right;
    font-weight: 300;
}
ul#horizontal-list li {
    display: inline-block;
    float: right;
    padding-left: 10px;
}

